footer {
	clear: both;
	// background: lightgrey;
	/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#1d1521+0,d3b6d1+98 */
// background: #1d1521; /* Old browsers */
// background: -moz-linear-gradient(left,  #1d1521 0%, #d3b6d1 98%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, right top, color-stop(0%,#1d1521), color-stop(98%,#d3b6d1)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(left,  #1d1521 0%,#d3b6d1 98%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(left,  #1d1521 0%,#d3b6d1 98%); /* Opera 11.10+ */
// background: -ms-linear-gradient(left,  #1d1521 0%,#d3b6d1 98%); /* IE10+ */
// background: linear-gradient(to right,  #1d1521 0%,#d3b6d1 98%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1d1521', endColorstr='#d3b6d1',GradientType=1 ); /* IE6-9 */


 /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,c6c6c6+98 */
// background: #545454; /* Old browsers */
// background: -moz-linear-gradient(left,  #545454 0%, #c6c6c6 98%); /* FF3.6+ */
// background: -webkit-gradient(linear, left top, right top, color-stop(0%,#545454), color-stop(98%,#c6c6c6)); /* Chrome,Safari4+ */
// background: -webkit-linear-gradient(left,  #545454 0%,#c6c6c6 98%); /* Chrome10+,Safari5.1+ */
// background: -o-linear-gradient(left,  #545454 0%,#c6c6c6 98%); /* Opera 11.10+ */
// background: -ms-linear-gradient(left,  #545454 0%,#c6c6c6 98%); /* IE10+ */
// background: linear-gradient(to right,  #545454 0%,#c6c6c6 98%); /* W3C */
// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#c6c6c6',GradientType=1 ); /* IE6-9 */

/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#545454+0,64556b+98&amp;1+20,0.7+63 */
background: -moz-linear-gradient(left,  rgba(84,84,84,1) 0%, rgba(87,84,89,1) 20%, rgba(94,85,99,0.7) 63%, rgba(100,85,107,0.7) 98%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(84,84,84,1)), color-stop(20%,rgba(87,84,89,1)), color-stop(63%,rgba(94,85,99,0.7)), color-stop(98%,rgba(100,85,107,0.7))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(84,84,84,1) 0%,rgba(87,84,89,1) 20%,rgba(94,85,99,0.7) 63%,rgba(100,85,107,0.7) 98%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(84,84,84,1) 0%,rgba(87,84,89,1) 20%,rgba(94,85,99,0.7) 63%,rgba(100,85,107,0.7) 98%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(84,84,84,1) 0%,rgba(87,84,89,1) 20%,rgba(94,85,99,0.7) 63%,rgba(100,85,107,0.7) 98%); /* IE10+ */
background: linear-gradient(to right,  rgba(84,84,84,1) 0%,rgba(87,84,89,1) 20%,rgba(94,85,99,0.7) 63%,rgba(100,85,107,0.7) 98%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#545454', endColorstr='#b364556b',GradientType=1 ); /* IE6-9 */


}

footer p {
	margin: 0;
	padding: 20px 0;
	text-align: center;
	color: white;
}