
.fa-bars {
	position: relative;
	cursor: pointer;
}

.fa-times {
	cursor: pointer;
}


.navContainer {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999999;

		i {
			color: white;
		}
}	


.dropDownNav {
	position: absolute;
	z-index: 5;
	top: 0;
	width: 100%;
	background: black;
	transition: all 1s;
}

.dropDownNav.open {
	top: 82px;
}


ul.menu {
	margin-left: 5%;

	li {
		list-style: none;
		display: inline-block;
		color: white;
		@include fontSize(32);
		text-transform: uppercase;
		padding: 0 50px;
	}

	a {
		color: white;
	}
}

@media (max-width: 1045px) {

	ul.menu {
		margin-left: 8%;
	}

	ul.menu li {
		@include fontSize(32);
		padding: 0 20px;
		}
	
}

@media (max-width: 895px) {

	ul.menu li {
		@include fontSize(28);
		padding: 0 10px;
	}
}

@media (max-width: 730px) {
	ul.menu li {
		@include fontSize(20);
		margin-left: 2%;
	}
}

@media (max-width: 660px) {
	div.logo {
	width: 90%;
}

	ul.menu li {
		@include fontSize(18);
	}

}

@media (max-width: 580px) {

	.dropDownNav {
		top: -410%;
	}

	.dropDownNav.open {
		top: 40%;
		height: 100vh;
	}

	ul.menu {
		margin-left: 0;
		padding-left: 0;
	}

	ul.menu li {
		padding: 20px 50px;
		@include fontSize(32);
		display: block;
		text-align: center;
		margin-left: 0;
	}


	}













