
.fa-bars {
	position: relative;
	cursor: pointer;
}

.fa-times {
	cursor: pointer;
}


.navContainer {
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 99999999;

		i {
			color: white;
		}
}	


.dropDownNav {
	position: absolute;
	z-index: 5;
	top: 0;
	width: 100%;
	background: black;
	transition: all 1s;
}

.dropDownNav.open {
	top: 82px;
}


ul.menu {

	margin-left: 50px;

	li {
		list-style: none;
		display: inline-block;
		color: white;
		@include fontSize(32);
		text-transform: uppercase;
		padding: 0 50px;
	}

	a {
		color: white;
	}
}






